<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shorincity.vibin.music_sharing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.CAMERA" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name=".VibinApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity android:name=".activity.YoutubeUsersCollaboratedListingActivity" />
        <activity android:name=".activity.YoutubeUsersLikeListingActivity" />
        <activity android:name=".activity.TermsAndConditionsActivity" />

        <activity
            android:name=".activity.SelectMusicLanguageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SelectMusicGenreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="collab.vibin.in"
                    android:scheme="http" />
                <data
                    android:host="collab.vibin.in"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PrivacyPolicyActivity" />
        <activity android:name=".activity.LoginSignUpActivity" />
        <activity android:name=".activity.RealTimePlayer" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity
            android:name=".activity.WebviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AllRecntSongsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SignUpEmailPassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.VerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.SignUpUserNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".activity.SignUpGenderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignUpDobActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".UI.Platform_choose_activity" />
        <activity
            android:name=".UI.account"
            android:screenOrientation="portrait" />

        <!--<activity
            android:name=".spotify_files.rsplayer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spotify_files.SearchActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spotify_files.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spotify_files.spotify_player_activity_main2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spotify_files.SpotifySearchActivity"
            android:screenOrientation="portrait" />-->
        <activity
            android:name=".youtube_files.YoutubeSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".youtube_files.PlayYoutubeVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".UI.LoginAct"
            android:screenOrientation="portrait" /> <!-- android:noHistory="true" -->

        <activity
            android:name=".UI.youtube"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".UI.Platform_choose"
            android:screenOrientation="portrait" />
        <!--<activity
            android:name=".spotify_files.SpotifySongsPlayerActivity"
            android:screenOrientation="portrait" />-->
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--<activity android:name=".spotify_files.SpotifyPlayer" />-->

        <activity
            android:name=".activity.RealTimePlayerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.SharePlaylistActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_logo_notify" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".youtube_files.floating.PlayerService"
            android:exported="false" />
        <!--<service android:name=".spotify_files.background_music.MediaPlayerService">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>-->

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".youtube_files.floating.AsyncTask.UserPresentBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
    </application>

</manifest>